body {
  font-family: "Varela Round", sans-serif;
  background-color: #f0f8ff;
}

.navbar {
  background: #ffffff;
}

.navbar .navbar-brand {
  color: #3498db;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #2980b9;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.card-title {
  color: #fff;
  background: #3498db;
}

.footer {
  background-color: #3498db;
  color: #f7f7f7;
}

.footer a {
  color: #d9d9d9;
}
